*{margin: 0; padding: 0; border: 0;}
body { 

text-align: left;
min-width:990px;

    font: 17px 'Lucida Sans Unicode';
    color: #000;
    background: #f6f6f6;
    background-repeat: no-repeat;
}

header {
 background: #990000;
 width:100%;
 height: 100px;
 box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
 z-index:1;
}
#logo {
  padding-bottom:3px;
  width: 300px;
  height: 60px;
  background: #990000;
  z-index:1;
  line-height: 60px;
  margin: 10px 0 0 35px;
  position: absolute;
  border: 6px solid ;
  font-size: 33px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-radius: 80px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.9)
}
#header em{
  position: absolute;
  margin: 100px 0 0 170px;
  color: black;
  z-index: 2;
} 

#bus{
  background: url("images/bus.jpg") no-repeat;
  background-size:252px 105px;
  height: 105px; 
  width: 252px;
  left:1100px;
  position: absolute;
  z-index: 1;
  margin-top:-5px;
}

#menu {
 

  position: absolute;
  left: 50%;
  margin-left: -700px;
  display: inline-block;
}

#menu ul {
  list-style-type: none;
  overflow: hidden;
}

#menu ul li {
  background: #990000;
  float:left;
  width:150px;
  margin: 90px 0 0 60px;
  border: 2px solid ;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.9);
}

#menu ul li a {
text-decoration: none; 
color: white;
border-radius: 100px;
display: inline-block;
height: 35px;
width:150px;
  
}

#menu ul li a:hover {
  background-color: white;
  color:#A4A4A4;
  transition:  500ms;
}

#menu ul li.kliknuta {
  background: #A4A4A4;
  color:black;
  box-shadow: none;
  border: none;
  height: 39px;
  width:154px;

}
#menu ul li.kliknuta a:hover {
  background-color: black;
  background-size:50px 154px;
  color:#A4A4A4;
  transition:  500ms;
}

#home{
  padding-top:100px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#obsah  {
  width: 60%;
  padding: 30px;
  display: inline-block;
  float: left;
  color: black;
}
#obsah h1 {
    text-align:center;
    background-color: #990000;
    padding: 7px 10px;
    margin: 0;
    font-size:20px ;
    color:white;
    border-radius: 10px
}
#obsah section{
    margin: 1px 0 20px 0;
    border-radius: 10px;
    padding: 12px;
    background: #E0E0E0;
    color: black;
}

div#trasa  {

  padding-bottom:10px;
  list-style-type: none;
  overflow: hidden;
  height:220px;
}


div#trasa  a {
  color:transparent;

  float:left;
  width: 200px;
  height: 200px;
  margin: 0 20px;
  font-size: 20px;
  text-align: center;
  text-decoration:none;
  border-radius: 100px;
  box-shadow: 20px 20px 10px rgba(0,0,0,0.3);
}
div#trasa1 a {background: url("images/praha.jpg") no-repeat; background-size:200px 200px;}
div#trasa2 a {background: url("images/bratislava.jpeg") no-repeat; background-size:200px 200px;}
div#trasa3 a {background: url("images/budapest.jpeg") no-repeat; background-size:200px 200px; }
div#trasa a:hover {
  background: url("images/autobus.png") no-repeat;
  background-size:150px 150px;
  background-position:center;
  color: #990000;
  box-shadow:none;
}

 #mapa{
 margin: 150px 100px 100px 0;
 font-size: 30px;
 
 }
 #mapa ul li  {
 margin: 10px 150px;
 }
 #mapa ul li a {
 color:black;
 }
aside {
    position: absolute;
   float: right; width: 30%;
   display: inline-block;
   margin-left: 50px;
}
aside#aktuality h1 {
    font-size: 30px;
    margin: 10px 0 20px 0;
    text-align: center;
    color: red;
}
aside#aktuality  h2 {
    background:#A4A4A4;
    padding: 7px 10px;
    margin: 0 0 10px 0;
    font-size:20px ;
    cursor: pointer;
    color: #990000;
    border-radius: 10px
}
aside#aktuality  h2:hover {
   background-color: #990000;
   color: white;
  transition:  700ms;
}
aside#aktuality  h2.active {
    background-position: right 5px;
}
aside#aktuality  article {
    margin: 10px 0;
    border-radius: 10px;
    padding: 12px;
    display: none;
    background: #990000;
    color: #A4A4A4
}

aside#aktuality  article img {

    margin: 2px 2px 10px 2px;
    width:100%;
    
}

footer{
position:absolute;bottom:0;left:0;
background: #990000;


  
top:1100px;
 width:100%;  
 height: 40px;
 box-shadow: 0px 0px 100px rgba(0,0,0,1.6);
 
}
footer p{
left: 50%;
color: white;
text-align: center;
}
footer a {

  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: white;
}
