
{block content}

<script type="text/javascript">
	$('.global_header').css("display","none");
</script>

<div class="global_container">
	<div class="container">

	<div class="welcome">Váš účet bol úspešne vytvorený.</div>

	<div class="welcome">Môžete sa prihlásiť.<a n:href="Sign:in">Prihlásiť</a></p></div>

	</div>
</div>