
{block content}

<script type="text/javascript">
	$('.global_header').css("display","none");
</script>

<div class="global_container">
	<div class="container">

	<div class="welcome">Please fill formular bellow to continue.</div>
	<div class="_logo_login"></div>

	<div class="register_form">
	{control registerForm}

	<p class="message">Already registered? <a n:href="Sign:in">Log in</a></p>
	</div>

	</div>
</div>