{* This is the welcome page, you can delete it *}

{block content}

<div class="global_menu2">
	<ul class="menu2 menu">
		<a href="Myprojects:default"><li id="menu_item4">Zalozene projekty</li></a>
		<a href="Myprojects:solved"><li id="menu_item5">Riesene projekty</li></a>
	</ul>
</div>

<div class="global_container">
	<div class="container">

  Zoznam zalozenych projektov

 	</div>
</div>
