{* This is the welcome page, you can delete it *}this->getUser()->id

{block content}

<div class="global_container">
	<div class="container">
		
		<h1 class="create_msg">Ubytovanie bolo úspešne vytvorené</h1>
	
 	</div>	
</div>
