{* This is the welcome page, you can delete it *}

{block content}
<div class="global_menu">
	<ul class="menu3 menu">
		<a href="{link Employee:createAccomNew1}"><li id="menu_item4">Nové ubytovanie</li></a>
		<a href=""><li id="menu_item5">Vyvoriť z rezervácie</li></a>
	</ul>
</div>
<div class="global_container">
	<div class="container">

 	</div>
</div>
