parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	authenticator: MyAuthenticator
	router: App\RouterFactory::createRouter
	- App\Model\UserManager
	- App\Model\Homepage
	- App\Model\Employee
	- App\Model\Admin
	- App\Model\Guest