
{block content}

<div class="global_container">
	<div class="container">

	

	<div class="login_form">
		
		<div class="heading">
			<h1>Prosím prihláste sa.</h1>
		</div>
		
		<div class="login">
			{control signInForm}
			<div class="register_message">Nemáte účet? <a n:href="Registration:">Zaregistrujte sa</a></div>
		</div>
		
	</div>	
	
	</div>
</div>

