{* This is the welcome page, you can delete it *}

{block content}

<div class="global_container">
	<div class="container">

		<p><a class="button" href="{link Guest:Reservations}">Na rezervácie</a></p>
      	<h1 class="create_msg">Rezervácia bola zrušená.</h1>

 	</div>
</div>
