
{block content}


<div class="global_container">
	<div class="container">
	
	<h1 class="create_msg">Váš účet bol úspešne vytvorený</h1>
	

	<h1 class="create_msg">Môžte sa prihlásiť.<a n:href="Sign:in"> Prihlásiť sa</a></h1>

	</div>
</div>
