{* This is the welcome page, you can delete it *}

{block content}


<div class="global_container">
	<div class="container">
	<div class="main">
			<div class="heading">
				<h1>Pridanie nového zamestnanca</h1>
			</div>
	<div class="create_service">			
	{control add_worker}
	</div>
	</div>
 	</div>
</div>
