{* This is the welcome page, you can delete it *}

{block content}


<div class="global_container">
	<div class="container">
		<div class="main">
			<div class="heading">
				<h1>Pridanie novej služby</h1>
			</div>

        			<div class="create_service">
      					{control add_service}
        			</div>	
				

		</div>
 	</div>
</div>
